body
{
	background: url(colonel.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	height: 50px;
}
a
{
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
	margin-left: 30px;

}

.cong
{
	position: fixed;
	overflow-y: scroll
	width: 100%;
	top: 20px;
	right: 20px;
	bottom: 20px;
	width: auto;
	height: auto;
}

h2{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

form
{
	width: 240px;
	text-align: center;
}