body
{
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	background: url(gradient.jpg);
	background-size: cover;
}

.create
{
	background: black;
	padding: 40px;
	width: 250px;
	height: 700px;
	margin-top: 20px;
	margin-left: 180px;
	margin: 0 auto;
}

.create input[type="button"]
{
	border: none;
	outline: none;
	height: 40px;
	width: 240px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 15px;
}

.create input[type="button"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.create input [type="text"], input[name="username"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: white;
	outline: none;
	height: 20px;
	width: 240px;
	color: #000;
	font-size: 12px;
}

.create input [type="text"], input[name="password"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: white;
	outline: none;
	height: 20px;
	width: 240px;
	color: #000;
	font-size: 12px;
}