body
{
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	background: url(gradient.jpg);
	background-size: cover;
}

.mpnc
{
	background: black;
	padding: 40px;
	width: 550px;
	height: 1000px;
	margin-top: 20px;
	margin-left: 180px;
	margin: 0 auto;
}
.mpnc input[type="submit"], input[value="Return"]
{
	border: none;
	outline: none;
	height: 40px;
	width: 240px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 15px;
	margin-top: 60px;
}

.mpnc input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.mpnc input [type="text"], input[name="username"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: white;
	outline: none;
	height: 20px;
	width: 240px;
	color: #000;
	font-size: 12px;
}

.mpnc input [type="text"], input[name="date"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: white;
	outline: none;
	height: 20px;
	width: 240px;
	color: #000;
	font-size: 12px;
}
.mpnc input [type="text"], input[name="time"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: white;
	outline: none;
	height: 20px;
	width: 240px;
	color: #000;
	font-size: 12px;
}
.mpnc input[type="submit"], input[value="Add Item"]
{
	border: none;
	outline: none;
	height: 40px;
	width: 550px;
	background: #191970;
	color: #fff;
	font-size: 18px;
	border-radius: 15px;
	margin-top: 20px;
}

.mpnc input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.mpnc input[type="button"], input[value="Update Item"]
{
	border: none;
	outline: none;
	height: 40px;
	width: 480px;
	background: #191970;
	color: #fff;
	font-size: 18px;
	border-radius: 15px;
	margin-top: 20px;
}

.mpnc input[type="button"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.mpnc input[type="button"], input[name="Delete Item"]
{
	border: none;
	outline: none;
	height: 40px;
	width: 480px;
	background: #191970;
	color: #fff;
	font-size: 18px;
	border-radius: 15px;
	margin-top: 20px;
}

.mpnc input[type="button"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}