body
{
	margin-bottom: 0px;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	background-color:  #990000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container
{
	width: 80%;
	margin: 0 auto;
}

h1
{
	background: #ffff;
}

h1:: after
{
	content: '';
	display: table;
	clear: both;
}

.logo
{
	position: fixed;
	top: 30px;
	left: 300px;
}

.crew
{
	position: fixed;
	margin-left: 270px;
	margin-right: auto;
	margin-bottom: 150px;
	height: 60%;
	width: 50%;
	padding-bottom: 90px;
}
nav
{
	float: right;
	width: 100%
	height: 100px;
	background-color: black;
	position: fixed;
	top: 150px;
	right: 0px;
	left: 0px;
	padding-bottom: 20px;
}

nav ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

nav li{
	display: inline-block;
	margin-left: 50px;
	padding-top: 25px;

}

nav a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

nav a:hover{
	color: #ffd700;
}